/* variable */
$main-background-color: #ffffff;
$text-color: #030303;
$nav-font-color: #3dad5c;
$compteur-color: #019961;
$accent-color: #79c258;
$Ligne-footer-color: #b5d653;

$font-robo: "Roboto regular", sans-serif;
$font-monserrat: "Monserrat Semi Bold", sans-serif;
