/* Footer Style */
.footer {
  font-family: "Roboto regular", sans-serif;
  padding: 2rem 0;
  border-top: 2px solid $Ligne-footer-color;
}



.footer-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: right;
  margin-right: 30px;
}

.footer-menu ul li a {
  text-decoration: none;
  color: $nav-font-color;
  font-weight: bold;
  font-size: 1.4rem;
  transition: color 0.3s ease;
}

.footer-menu ul li a:hover {
  color: $accent-color;
  text-decoration: underline;
}

.footer-copy {
  display: none;
}

/* Responsive Footer */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-menu ul {
    padding: 5px;
    gap: 1.5rem;
    display: flex;
    justify-content: left;
    padding-left: 30px;
    width: 70%;
  }


  .footer-copy {
    font-family: "Monserrat Semi Bold", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    display: flex;
    padding-left: 30px;
    text-align: left;
    margin-top: -40px;
  }
}

@media (max-width: 480px) {
  .footer-menu ul li a {
    font-size: 0.875rem;
  }

  .footer-copy {
    font-size: 0.75rem;
  }
}
