//  Button degraded

.submit-button {
  background: linear-gradient(to bottom right, #85d653, #019961);
  // background: var(--green);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

//  .submit-button:hover {
//     background: #85d653;
//   }

.button-plus{
  background: none;
  color: $accent-color;
  padding: 0.8rem 1.5rem;
  border: 2px solid $accent-color;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
}
