p {
  font-family:$font-robo;
  font-size: 1.2rem;
  line-height: 1.8;
}

h1 {
  font-family: $font-monserrat;
  font-weight: 600;
  font-size: 3rem;
}

.p_principal{
  font-family: $font-robo;
  font-size: 1.5rem;
}

@media (max-width:768px) {
  h1 {
    font-family: $font-robo;
    font-size: clamp(1.5rem, 5vw, 2rem);
    margin: 1rem 0;
    line-height: 1.3;
  }

  p {
    font-size: 1rem;
    line-height: 1.3;
  }
}


@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
    margin: 0.8rem 0;
  }

  p {
    font-size: 0.9rem;
    line-height: 1.3;
  }

  .p_principal{
    font-size: 0.9rem;
    line-height: 1.3;
  }
}


