/******a-propos *******/
 // container propos main containtes size setting
 .propo_main{
  width: 100%; 
  margin: -20px -10px;
  overflow: hidden; // hide over 1page
  //border: 2px solid saddlebrown;

  .footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    //background-color:rgba(255, 0, 0, 0); // set backgrond transparent
    //z-index: 2;
  }
}

/*setting container of slider 2pages*/ 
.slider_container{
display: flex; 
width: 200%;// two pages side by side
box-sizing: border-box;
height: 1000px;
//border: 2px solid black;
}

/* setting each page*/
/* Page contains .page_Back,.ChangePage*/
.page{
position: relative;
min-width: 100vw;
display: flex;
transition: all 1s; 
//border: 3px solid red;

/* setting page1 of background image*/
.page1_Back{
display: flex;
min-width: 100%;
//border: 5px solid olive;
}
/* for image of 1st page*/
.image1{
  width: 90%;
  height: 100%;
  //border: 7px solid green;
}

/* setting page2 of background image*/
.page2_Back{
  display: flex;
  min-width: 100%;
  background: 
  url(/ressources/co2WEB/co2WEB/tente.svg);
  background-repeat:no-repeat;
  background-size: 68% auto; // set size of image
  background-position: calc(100% + 150px) calc(0px) ; // set image position
  //border: 5px solid olive;
}
li{
  color: $accent-color;
  padding-top: 30px;
  padding-left: 40px;
  font-size: 80px;
  //border: 3px solid rgb(255, 153, 0);
}
h1{
  color: $text-color;
}
}
/*setting width size space for changePage*/ 
.changePage{  
 // width: 10%;
  height: 80%;
  padding: 0 40px;
  margin: 0 10px;
  align-content: center;
  //border: 10px solid rgb(81, 0, 128); 
  }

/*green round box*/
.green-box {
position: absolute;   // overlap leaf and display
background: linear-gradient(to bottom right, $accent-color, $compteur-color);
top: 300px;
left: -10px;
width: 40%;
height : 300px;
border-top-right-radius: 150px;
border-bottom-right-radius: 150px;
margin-right: 1000px;
//border: 3px solid green;
}
/*image leaf*/
.leaf-img{
position: absolute;   // overlap multiple images
top:-150px;
left: 100px;
width: 500px;
height: 500px;
//border: 3px solid #73AD21;
}
/*imag ecran*/
.display-img{
position: absolute;   // overlap multiple images
top: -10px;
left: 150px;
width: 440px;
height: 440px;
// border: 3px solid #73AD21;
}

/*titel position setting for each page*/
.titelPropo_1{
  display: flex;
  position: absolute;
  top: 150px;
  left: 900px;
  //border: 3px solid rgb(255, 153, 0);
}
.titelPropo_2{
  display: flex;
  position: absolute;
  top: 150px;
  left: 300px;
}


/*text item position setting for each page*/
.textPropos_1{
width: 750px;
display: flex;
flex-direction: column;
position: absolute;
top: 300px;
left: 900px;
width: 650px;
padding :0px 50px;
}
.textPropos_2{
width: 750px;
display: flex;
flex-direction: column;
position: absolute;
top: 300px;
left: 300px;
width: 650px;
padding :0px 50px;
}

/*undertext green bar*/
.greenBar{
border-top: 4px solid ;
width: 300px;
border-image:linear-gradient(to right, $accent-color, $compteur-color) 1 ;
}

/*  change page '>' '<' font */
.Change{  
border: none;
font-family: "Roboto regular", sans-serif;
background-color: $main-background-color;
color: $accent-color;
font-size: 60px;
font-weight: 1000;
align-items: center;

}




@media screen and (max-width: 360px){

.propo_main{
  padding: 0;
  margin: 0;
// height: 800px;

//   .footer{
//  background-color: $main-background-color; // set backgrond transparent to white
// }
}
.titelPropo_1{
  top: 10px;
  left: 10px;
  padding-top: 0;
  //margin-bottom: 1000px; // put margin bottom with title
}
.titelPropo_2{
  top: 10px;
  left: 10px;
  padding-top: 0;
}

.textPropos_1{
  top: 180px;
  left: 10px;
  width: 90%;
  margin-top: 80px;
  padding: 0 20px;
}
.textPropos_2{
  top: 180px;
  left: 10px;
  width: 90%;
  margin-top: 80px;
  padding: 0 20px;
}

.greenBar{
  width: 100px;
}

.page{
    min-height: 800px; //set height for 1page of mobile
   // border: 5px solid orangered;
  .page1_Back{
    min-width: 360px;
    height: 300px;
    }
    .image1{
      width: 70%;
    }
    .page2_Back{
      background-size: 60% auto; // set size of image
      background-position: calc(100% - 20px) calc(0px + 80px) ; // set image position 
      min-width: 360px;
      height: 300px;
      //border: 5px solid olive;
    }
    //setting width size space for changepage 
  .changePage{  
    width: 50px;
    height: 110%;
    padding: 0;
    margin: 0 30px;
  }
      
  li{
    list-style-type: none;
    padding-left:0;
    padding-top:0;
    }

    h1{
      height: 20px;
      padding:0 40px 10px 45px;
    }
}


/*green round box*/
.green-box {
  top:120px;  
  width: 70%;
  height : 100px;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  margin-right: 50px;
}
/*image leaf*/
.leaf-img{
  position: absolute;   // overlap multiple images
  top:-210px;
  left: 20px;
  width: 200px;
}
/*imag ecran*/
.display-img{
  position: absolute; 
  top:-140px;
  left: 50px;
  width: 150px;
}
.Change{
  font-size: 30px;
  padding: 0 ;
  justify-content: center;
}
.PointMark{
  list-style-type: none;
}

}