/******a-propos *******/


 // 1.container propos main containtes size setting
  .propo_main{
    position: relative;
    width: 100%;
    overflow: hidden; // hide over item
}

// 2.setting container of slider 2pages
.slider_container{
  display: flex; 
  width: 200%;
  height:800px;
  box-sizing: border-box;
}
// setting page1 of % of contents
.page{
  min-width: 100vw;
  display: flex;
  transition: all 1s; 


  // setting page2 of background image
  .page2{
    display: flex;
    background: 
    url(/ressources/co2WEB/co2WEB/tente.svg);
    background-repeat:no-repeat;
    background-size: 60% auto;
    background-position: calc(100% + 100px) top;
    padding: 0 0 -50px 20px;
    border: 3px solid rgb(255, 153, 0);
  }
}

.d-row{
  display: flex;
  //border: 3px solid rgb(0, 255, 238);
}
.d-center{
  display: flex;
  align-items: center;
}


// bull font
.PointMark{
  color: $accent-color;
  font-size: 60px;
  font-weight: 1000;
  margin-right: 20px;

}

//  change page '>' '<' font
.Change{  
  //border: none;
  background-color: $main-background-color;
  color: $accent-color;
  font-size: 60px;
  font-weight: 1000;
  align-items: center;
  padding: 0 80px;
}

//setting width size space image
.ConImag{
  width: 600px;
  max-width: 100%;
  border: 3px solid rgb(83, 165, 200);
}
//setting width size space text
.PorpoText{
  display: flex;
  flex-direction:column;  //set direction colum
  justify-content: center;  // set content in center
  text-align: left;
  width: 800px;
  max-width: 100%;
  padding :20px 50px;
  border: 3px solid blue;
}

//setting width size space for page 
.changePage{
  width: 250px;
  max-width: 100%;
  display: flex;
  align-items: center;
  border: 3px solid green;
}

.green-box {
  position: relative;   // overlap leaf and display
  background: linear-gradient(to bottom right, $accent-color, $compteur-color);
  top: 160px;
  width: 600px;
  height : 250px;
  border-top-right-radius: 120px;
  border-bottom-right-radius: 120px;
}

.leaf-img{
  position: absolute;   // overlap multiple images
  top: 150px;
  left: 80px;
  width: 500px;
  height: 500px;
  //border: 3px solid #73AD21;
}

/*imag ecran*/
.display-img{
  position: absolute;   // overlap multiple images
  top: 300px;
  left: 150px;
  width: 400px;
  height: 400px;
  //border: 3px solid #73AD21;
}


.porpo2_img{
//display: flex;
position-area: right;
padding-right: -50px;
padding-bottom: 2ch;
border: 3px solid rgb(255, 166, 0);
}

