// Main
.title-cal {
  margin-left: 5%;
  text-align: center;
  margin-top: 2%;
  font-size: 190%;
}

.title-cal-resp {
  display: none;
}

.nombre-jour-resp {
  display: none;
}

.p-cal {
  margin-top: 5%;
  text-align: center;
}

.footer-margin {
  margin-top: 5%;
}

// Form
.distance-resp {
  display: none;
}

.form-bg-cal {
  border: 0px solid;

  padding: 50px;
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.1);
  border-radius: 5%;

  max-width: 50%;
  margin-top: 5%;
  margin-left: 25%;
  background-color: white;

  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;

    div {
      flex: 1;
      margin-top: 2%;

      label {
        display: block;
        margin-bottom: 5px;
        font-size: 14px;
        color: var(--font-color);
      }
    }
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #0303032c;
  }

  .form-message {
    display: flex;
    flex-direction: column;
  }
}

// Button
.submit-button-position-cal {
  display: flex;
  justify-content: center;
}

.button-cal-resp {
  display: none;
}

// Img background
.body-cal {
  background-image:
    // Feuilles
    url(/ressources/co2WEB/co2WEB/trois-feuilles.svg),
    url(/ressources/co2WEB/co2WEB/feuille.svg),
    url(/ressources/co2WEB/co2WEB/feuille2.svg),
    // Cercle vert
    url(/ressources/co2WEB/co2WEB/cercle-vert.svg),
    // Cercle vert claire
    url(/ressources/co2WEB/co2WEB/cercle-vert-clair.svg);

  background-repeat: no-repeat;
  background-size: 30% 30%, 30% 30%, 30% 30%, 7%, 5%;
  background-position: 11rem 30%, 11rem 90%, 80rem 85%,
    // cercles
    102rem 15%,
    103rem 35%;
}

.cercle-vert-fonce-cal {
  position: absolute;
  top: 20%;
  left: 80%;
  transform: translateX(-50%); // Centrer l'image du cercle
  z-index: 10; // Fait passer le cercle au-dessus du formulaire
}
// ....................................................
// Responsive
// Mobile
@media (max-width: 360px) {
  .cercle-vert-fonce-cal {
    display: none !important;
  }

  .title-cal {
    display: none;
  }
  .title-cal-resp {
    display: inline;

    text-align: start;
  }
  .votre-distance {
    display: none;
  }
  .distance-resp {
    display: inline;
  }
  .nombre-jour {
    display: none;
  }

  .nombre-jour-resp {
    display: inline;
  }
  .button-cal {
    display: none;
  }

  .p-cal {
    font-size: small;
    line-height: 120%;
  }

  .body-cal {
    background: none !important;
  }

  .main-block-cal {
    margin-left: 0%;
    margin-right: 0%;
  }

  main.main-block-cal {
    margin-left: 0%;
  }

  .form-bg-cal {
    margin-left: 1%;
    width: 25rem;

    max-width: 15rem;
    max-height: 20rem;
  }

  div.form-bg-cal {
    padding: 10%;
    margin-left: 5%;
  }
}
// Tablette
/*
@media (max-width: 768px) {
  .cercle-vert-fonce-cal {
    display: none !important;
  }

  .title-cal {
    display: none;
  }

  .title-cal-resp {
    display: inline;
    margin-left: 5%;
  }

  .body-cal {
    .form-bg-cal {
      margin-left: 5%;
      width: 35rem;
      max-width: 25rem;
      max-height: 35rem;
      padding: 15%;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 25px;
    }
  }
}
*/
// NoteBook
@media (max-width: 1366px) {
  .cercle-vert-fonce-cal {
    display: none;
  }
  .title-cal {
    font-size: 1.5rem;
    margin-left: 10%;
  }
  .p-cal {
    font-size: small;
    line-height: 140%;
  }

  .button-cal {
    display: none;
  }

  .button-cal-resp {
    display: inline;
  }

  .body-cal {
    background-image:
        // Feuilles
      url(/ressources/co2WEB/co2WEB/trois-feuilles.svg),
      url(/ressources/co2WEB/co2WEB/feuille.svg),
      url(/ressources/co2WEB/co2WEB/feuille2.svg),
      // Cercle vert
      url(/ressources/co2WEB/co2WEB/cercle-vert.svg),
      // Cercle vert claire
      url(/ressources/co2WEB/co2WEB/cercle-vert-clair.svg);

    background-repeat: no-repeat;
    background-size: 20% 20%, 20% 20%, 20% 20%, 7%, 5%;
    background-position: 13rem 25%, 13rem 68%, 63rem 68%,
      // cercles
      75rem 20%,
      75rem 33%;
  }
  .cercle-vert-fonce-cal {
    display: inline;
    top: 23%;
    left: 85%;

    img {
      max-width: 70%;
      max-height: 13%;
    }
  }
}
// Desktop
@media (max-width: 1920px) {
  .body-cal {
    background-image:
       // Feuilles
      url(/ressources/co2WEB/co2WEB/trois-feuilles.svg),
      url(/ressources/co2WEB/co2WEB/feuille.svg),
      url(/ressources/co2WEB/co2WEB/feuille2.svg),
      // Cercle vert
      url(/ressources/co2WEB/co2WEB/cercle-vert.svg),
      // Cercle vert claire
      url(/ressources/co2WEB/co2WEB/cercle-vert-clair.svg);

    background-repeat: no-repeat;
    background-size: 30% 30%, 30% 30%, 30% 30%, 7%, 5%;
    background-position: 11rem 30%, 11rem 75%, 80rem 70%,
      // cercles
      102rem 15%,
      103rem 35%;
  }
}
