// Main
.title-cal {
  text-align: center;
  margin-top: 2%;
}

.title-cal-resp {
  display: none;
}

.p-cal {
  margin-top: 5%;
  text-align: center;
}

// Form
.distance-resp {
  display: none;
}

.form-bg-cal {
  border: 0px solid;
  padding: 50px;
  box-shadow: 1px 1px 50px;

  border-radius: 5%;
  max-width: 50%;
  margin-top: 5%;
  margin-left: 25%;
  background-color: white;

  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;

    div {
      flex: 1;
      margin-top: 5%;

      label {
        display: block;
        margin-bottom: 5px;
        font-size: 14px;
        color: var(--font-color);
      }
    }
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #0303032c;
  }

  .form-message {
    display: flex;
    flex-direction: column;
  }
}

// Button
.submit-button-position-cal {
  display: flex;
  justify-content: center;
}

.button-cal-resp {
  display: none;
}

// Img background
.body-cal {
  background: 
    // Feuilles
    url(/ressources/co2WEB/co2WEB/trois-feuilles.svg),
    url(/ressources/co2WEB/co2WEB/feuille.svg),
    url(/ressources/co2WEB/co2WEB/feuille2.svg),
    // Cercle vert
    url(/ressources/co2WEB/co2WEB/cercle-vert.svg),
    // Cercle vert claire
    url(/ressources/co2WEB/co2WEB/cercle-vert-clair.svg);

  background-repeat: no-repeat;
  background-size: 30% 30%, 30% 30%, 30% 30%, 8%, 6%;
  background-position: 11rem 30%, 11rem 95%, 80rem 90%,
    // cercles
    102rem 27%,
    103rem 45%;
}

.cercle-vert-fonce-cal {
  position: absolute;
  top: 23%;
  left: 80%;
  transform: translateX(-50%); // Centrer l'image du cercle
  z-index: 10; // Fait passer le cercle au-dessus du formulaire
}

// Responsive
// Mobile
@media (max-width: 360px) {
  .cercle-vert-fonce-cal {
    display: none;
  }

  .title-cal {
    display: none;
  }

  .title-cal-resp {
    display: block;
    font-size: 2rem;
    margin-left: 80%;
  }

  .form-bg-cal {
    border-radius: 10%;
    min-width: 15rem;
  }

  .main-block-cal {
    max-width: 10%;
  }

  .distance-resp {
    display: inline;
  }

  .votre-distance {
    display: none;
  }

  .p-cal {
    font-size: small;
    line-height: 120%;
  }

  /* Afficher le texte uniquement en responsive (pour les petits écrans) */
  .button-cal-resp {
    display: inline; // Affiche le texte en version mobile
  }

  .button-cal {
    display: none; // Masque le texte "Commencer" en version mobile
  }

  .form-bg-cal {
    padding: 20px;
    max-width: 80%;
    margin-left: 80%;
    border-radius: 15px;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    border-radius: 8px;
  }

  .submit-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #45a049;
    }
  }
  .body-cal {
    background: none !important; // Retirer les images de fond
  }
}
