// Main
.title-contact {
  margin-top: 5%;
  margin-left: 40%;
}

// Form
.form-bg {
  border: 0px solid;
  padding: 5%;
  box-shadow: 0.2rem 0.2rem 1rem;
  max-width: 50%;
  margin-top: 2%;
  margin-left: 20%;
  background-color: white;

  .form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    gap: 5%;
  }
}

.form-group {
  div {
    flex: 1;
  }

  label {
    display: block;
    margin-bottom: 0.5em;
    font-size: 100%;
    color: var(--font-color);
  }

  input,
  textarea {
    width: 100%;
    padding: 1%;
    border: none;
    border-bottom: 0.1em solid #0303032c;
  }
}

.form-message {
  display: flex;
  flex-direction: column;
}

// Button
.submit-button-position {
  display: flex;
  flex-direction: row-reverse;
}

.button-contact-resp {
  display: none;
}

// Img background
.contact-body {
  background: 
    // Feuilles
    url(/ressources/co2WEB/co2WEB/trois-feuilles.svg),
    url(/ressources/co2WEB/co2WEB/feuille.svg),
    url(/ressources/co2WEB/co2WEB/feuille2.svg),
    // Cercle vert
    url(/ressources/co2WEB/co2WEB/cercle-vert.svg),
    // Cercle vert claire
    url(/ressources/co2WEB/co2WEB/cercle-vert-clair.svg);

  background-repeat: no-repeat;
  background-size: 30% 30%, 30% 30%, 30% 30%, 8%, 6%;
  background-position: 5rem 15%, 5rem 75%, 80rem 70%,
    // cercles
    104rem 15%,
    105rem 35%;

  .cercle-vert-fonce {
    position: absolute;
    top: 20%;
    left: 80%;
    transform: translateX(-50%);
    z-index: 10;
  }
}

// Responsive

// Mobile
@media (max-width: 360px) {
  .contact-body {
    background: none;
    max-width: 100%;

    .title-contact h1 {
      font-family: "Monserrat Semi Bold", sans-serif;
      font-weight: 600;
      font-size: 1rem;
    }
  }

  .cercle-vert-fonce {
    display: none;
  }

  .form-bg {
    border: 0px solid;
    box-shadow: 0.1rem 0.1rem 0.5rem;
    border-radius: 5%;
    max-width: 100%;
    margin-right: 5%;
    margin-left: 5%;

    background-color: white;

    .form-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20%;
    }
  }

  // En responsive, afficher "Envoyer" et masquer "Commencer"
  .button-contact {
    display: none;
  }

  .button-contact-resp {
    display: inline;
  }

  // Réorganiser l'ordre du formulaire en responsive
  .form-group {
    flex-direction: column;
    margin-bottom: 20%;
  }

  .form-group div {
    margin-top: 0;
  }
}

// NoteBook

@media (max-width: 1366px) {
  .contact-body {
    background: 
    // Feuilles
      url(/ressources/co2WEB/co2WEB/trois-feuilles.svg),
      url(/ressources/co2WEB/co2WEB/feuille.svg),
      url(/ressources/co2WEB/co2WEB/feuille2.svg),
      // Cercle vert
      url(/ressources/co2WEB/co2WEB/cercle-vert.svg),
      // Cercle vert claire
      url(/ressources/co2WEB/co2WEB/cercle-vert-clair.svg);

    background-repeat: no-repeat;
    background-size: 30% 30%, 30% 30%, 30% 30%, 8%, 6%;
    background-position: 5rem 18%, 5rem 75%, 80rem 70%,
      // cercles
      75rem 15%,
      75rem 30%;

    .cercle-vert-fonce {
      position: absolute;
      top: 20%;
      left: 80%;
      transform: translateX(-50%);
      z-index: 10;
    }
  }
}

// Desktop ok,
