// Main

.title-contact {
  margin-top: 5%;
  margin-left: 50%;
}

.main-block-contact {
  margin-top: 5%;
  margin-left: 5%;
}

// Form

.form-bg {
  border: 0px solid;
  padding: 5%;
  box-shadow: 0.2rem 0.2rem 1rem;
  max-width: 50%;
  margin-top: 2%;
  margin-left: 25%;
  background-color: white;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  gap: 5%;
}

.form-group div {
  flex: 1;
}

.form-group label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 100%;
  color: var(--font-color);
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 1%;
  border: none;
  border-bottom: 0.1em solid #0303032c;
}

.form-message {
  display: flex;
  flex-direction: column;
}

// Button
.submit-button-position {
  display: flex;
  flex-direction: row-reverse;
}

.footer-margin {
  margin-top: 5%;
}

// Img background

.contact-body {
  background: url(/ressources/co2WEB/co2WEB/trois-feuilles.svg),
    url(/ressources/co2WEB/co2WEB/feuille.svg),
    url(/ressources/co2WEB/co2WEB/feuille2.svg),
    //Cercle vert foncé
    url(/ressources/co2WEB/co2WEB/cercle-vert-fonce.svg),
    // Cercle vert
    url(/ressources/co2WEB/co2WEB/cercle-vert.svg),
    // Cercle vert claire
    url(/ressources/co2WEB/co2WEB/cercle-vert-clair.svg);

  background-repeat: no-repeat;
  background-size: 30% 30%, 30% 30%, 30% 30%, 10%, 8%, 6%;
  background-position: 14rem 15%, 14rem 75%, 87rem 70%,
    // cercles
    98rem 25%,
    110rem 20%, 111rem 40%;
}

// Responsive
