/* Main */
.main-block-emplois {
  margin-top: 0%;
  display: flex;
  justify-content: space-between;
}

.comment-marche {
  margin-left: 5%;
  font-size: larger;
}

.block-align-emp {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

/* Analyse */
.analyse {
  // background-color: red;
  max-width: 20%;
  text-align: center;
}

/* Calculateur */
.use-calculateur {
  border: 0px solid;
  padding: 10px;
  box-shadow: 1px 1px 20px;
  background-color: rgb(255, 255, 255);
  max-width: 20%;
  text-align: center;
}

/* Résultats */
.results-emplois {
  max-width: 20%;
  text-align: center;
}

.footer-margin {
  margin-top: 5%;
}

// Responsive
// Mobile
@media (max-width: 360px) {
  .main-block-emplois {
    overflow-x: auto;

    .room {
      gap: 10%;
    }
  }

  .analyse,
  .use-calculateur,
  .results-emplois {
    min-width: 90%;
    display: flex;
  }

  .use-calculateur {
    box-shadow: none;
  }
}

// Tablette$

@media (max-width: 768px) {
  .main-block-emplois {
    overflow-x: auto;
  }

  .analyse,
  .use-calculateur,
  .results-emplois {
    min-width: 100%;
    display: flex;
  }

  .use-calculateur {
    box-shadow: none;
  }
}

// Desktop ok, NoteBook ok ,
