/* Main */

.main-block-emplois {
  margin-top: 5%;

  display: flex;
  justify-content: space-between;
}
.comment-marche {
  margin-left: 10%;
}
.block-align-emp {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

/* Analyse */
.analyse {
  // background-color: red;
  max-width: 20%;
  text-align: center;
}

/* Calculateur */

.use-calculateur {
  border: 0px solid;
  padding: 10px;
  box-shadow: 6px 4px 16px;
  // background-color: rgb(115, 24, 175);
  max-width: 20%;
  text-align: center;
}
