/****** trouver-velib.scss******/

// set size window for PC
.PC{
  width:100vw ;
  height: 100vh;
  background:$main-background-color;
  //border: 3px solid rgb(43, 67, 226);  // color for check class
}

// setting container in middle
.con_center{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  font-size: 20px;
 // border: 3px solid rgb(226, 43, 186);
}

// setting text in the middle inside container
.tr_container{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
 // border: 3px solid green;
}

.text_center{
  text-align: center;
  padding: 0;
  margin: 0;
 // border: 2px solid salmon;
}
// setting counter box position row
.con_row{
  display: flex;
  flex-direction: row;
  padding: 0 5px;
 // border: 3px solid red;
}



.Coming{
  font-family:"Roboto regular", sans-serif;
  font-size: 32px;
}

// about time counter
.countdown-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Add space between boxes */
}

.countdown-box {
  background-color: $compteur-color;
  color: $main-background-color;
  font-size: 1.5em;
  padding: 20px;
  width: inherit; /* Adjust box size */
  text-align: center;
}

.label {
  font-size: 0.5em;
  margin-top: 5px;
  color: $main-background-color;
}

